{% extends "nav.html" %}
{% block content %}

{% load static %}

<!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4 style="color: black;">"Discover Big Savings Shop Smart, Save Big!"</h4>
                                <div class="main-border-button">
                                    <a style="color: black;" href="#">Purchase Now!</a>
                                </div>
                            </div>
                            <img src="{% static 'images/left-banner-image1.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Groceries</h4>
                                            <span>cheap and Best Groceries</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Groceries</h4>
                                                <p>"Browse our fresh selections and add to your cart with just a click – grocery shopping made easy!"</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{% static 'images/baner-right-image-011.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Baby Essentials</h4>
                                            <span>safe Accessories</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Baby Essentials</h4>
                                                <p>"Complete Care for Your Little One - Explore Our Baby Care Kits Today!"</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{% static 'images/baner-right-image-021.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Frozen</h4>
                                            <span>Stock Up and Save!</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Frozen</h4>
                                                <p>"Frozen Delights: Shop Chilled Goodness from Home!"</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img style="height: 300px;" src="{% static 'images/baner-right-image-031.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>Health & Beauty</h4>
                                            <span>Feel and Look Your Best</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Health & Beauty</h4>
                                                <p>"Enhance Your Glow: Discover Health & Beauty Essentials!"</p>
                                                <div class="main-border-button">
                                                    <a href="#">Discover More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <img style="height: 300px;" src="{% static 'images/baner-right-image-041.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

{% include "products.html" %}
    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Explore Our Products</h2>
                        <span> High-quality items attract positive reviews and customer interest, boosting your chances of visibility. Price your products competitively to stand out in comparison to similar offerings on the platform. Competitive pricing can attract more customers and improve sales performance, which platforms often prioritize for their explore pages.</span>
                        <div class="quote">
                            <i class="fa fa-quote-left"></i><p>Discover top-tier quality and unbeatable prices at Big Mart's Explore section. Your gateway to premium products at the best value!</p>
                        </div>
                        <p>Well-structured listings improve organic search visibility within the platform and make it easier for customers to find your products. Additionally, encourage satisfied customers to leave reviews, as positive feedback enhances credibility and influences platform algorithms.</p>
                        <p>Explore more than just products; discover a shopping experience tailored to your lifestyle. From trend-setting fashion to innovative gadgets and household essentials, our Explore section is your gateway to a world of possibilities. </p>
                        <div class="main-border-button">
                            <a href="products.html">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>Beauty Products!</h4>
                                    <span>Latest Collection</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="{% static 'images/explore-image-01.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="{% static 'images/explore-image-021.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>Different Types</h4>
                                    <span>Over 304 Products</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
    <section class="section" id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Social Media</h2>
                        <span>Details to details is what makes Big Mart different from the other themes.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row images">
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Groceries</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img style="height: 170px;" src="{% static 'images/instagram-011.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Frozen</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img style="height: 170px;" src="{% static 'images/instagram-021.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Toys</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img style="height: 170px;" src="{% static 'images/instagram-031.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Makeup</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img style="height: 170px;" src="{% static 'images/instagram-04.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>veggies</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img style="height: 170px;" src="{% static 'images/instagram-051.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-2">
                    <div class="thumb">
                        <div class="icon">
                            <a href="http://instagram.com">
                                <h6>Accessories</h6>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <img style="height: 170px;" src="{% static 'images/instagram-061.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                        <span>Details to details is what makes Big Mart different from the other themes.</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Your Name" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Store Location:<br><span>Sunny Isles Beach, FL 33160, United States</span></li>
                                <li>Phone:<br><span>010-020-0340</span></li>
                                <li>Office Location:<br><span>North Miami Beach</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                                <li>Email:<br><span>info@company.com</span></li>
                                <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->
    
    {% include "footer.html" %}    
    {% endblock %}
